## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.exe
*.dll
*.pdb
*.cache
*.log

## NuGet
**/packages/*
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider / JetBrains
.idea/
*.sln.iml

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Publish output
publish/
